<form id="filter-form" class="form form-horizontal">
    <select class="input-large" name="project" placeholder="<%= t('All') %>">
        <option value=""></option>
        <% projects.each(function (project) { %>
        <option value="<%= project.id %>"><%= project.escape('name') %></option>
        <% }) %>
    </select>
    <input class="input-large" name="owner" placeholder="<%= t('All') %>">
    <button class="btn my"><%= t('My') %></button>
    <input class="input-xxlarge" name="status" placeholder="<%= t('All') %>">
    <button class="btn clear"><%= t('Clear') %></button>
</form>