<form id="form-task-add" class="form-horizontal">
    <legend>
        <%= t('Edit Task') %>
        <button type="button" class="close close-form">&times;</button>
        <button type="button" class="btn pull-right cancel"><%= t('Cancel') %></button>
    </legend>
    <div class="row status">
        <fieldset>
            <div class="control-group">
                <label class="control-label"><%= t('Status') %> *</label>

                <div class="controls">
                    <select name="status">
                        <% _.each(['new', 'open', 'closed', 'resolved'], function (val) { %>
                            <option value="<%= val %>" <%= task.get('status') == val ? 'selected="selected"' : '' %>><%= t(val) %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row owner">
        <fieldset>
            <div class="control-group">
                <label class="control-label"><%= t('Owner') %></label>

                <div class="controls">
                    <input type="text" id="owner" name="owner">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Priority') %> *</label>

        <div class="controls">
            <input type="text" name="priority" class="input-mini" value="<%= task.escape('priority') %>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Subject') %> *</label>

        <div class="controls">
            <input type="text" name="subject" class="input-xxlarge" value="<%= task.escape('subject') %>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Administrators') %></label>

        <div class="controls">
            <input type="text" name="admin"  class="input-xxlarge">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Users') %></label>

        <div class="controls">
            <input type="text" name="admincc" class="input-xxlarge">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Clients') %></label>

        <div class="controls">
            <input type="text" name="cc"  class="input-xxlarge">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button class="btn btn-primary submit-form"><%= t('Save') %></button>
        </div>
    </div>
    </fieldset>
</form>
