<% if (transaction.get('subtype') == 'text') { %>
<div class="well well-small">
    <%= transaction.get('creator').name %>
    <%= (transaction.get('type') == 'reply') ? t('replied') : t('commented') %>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
    <div class="well-small"><%= transaction.escape('value') %></div>
</div>

<% } else if (transaction.get('subtype') == 'file') { %>
<div class="alert alert-success">
    <%= transaction.get('creator').name %>
    <%= t('attached') %>
    <a data-bypass="true" href="/api/file/<%= workspace.id %>/<%= task.id %>/<%= transaction.get('value') %>"><%= transaction.get('meta').name %></a>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
</div>

<% } else if (transaction.get('subtype') == 'status') { %>
<div class="alert alert-info">
    <%= transaction.get('creator').name %>
    <%= t('changed status from') %>
    <strong><%= t(transaction.get('previousValue')) %></strong>
    <%= t('to') %>
    <strong><%= t(transaction.get('value')) %></strong>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
</div>

<% } else if (transaction.get('subtype') == 'priority') { %>
<div class="alert alert-info">
    <%= transaction.get('creator').name %>
    <%= t('changed priority from') %>
    <strong><%= transaction.get('previousValue') %></strong>
    <%= t('to') %>
    <strong><%= transaction.get('value') %></strong>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
</div>

<% } else if (transaction.get('subtype') == 'grant') { %>
<div class="alert alert-info">
    <%= transaction.get('creator').name %>
    <% if (transaction.get('value') == 'owner') { %>
        <%= t('assigned to') %>
        <strong><%= transaction.get('meta').name || transaction.get('meta').email %></strong>
    <% } else { %>
        <%= t('added') %>
        <strong><%= transaction.get('meta').name || transaction.get('meta').email %></strong>
        <%= t('as ' + {admin: 'Administrator','admincc':'User','cc':'Client'}[transaction.get('value')]) %>
    <% } %>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
</div>

<% } else if (transaction.get('subtype') == 'revoke') { %>
<div class="alert alert-info">
    <%= transaction.get('creator').name %>
    <% if (transaction.get('value') == 'owner') { %>
        <%= t('assigned to') %>
        <strong>nobody</strong>
    <% } else { %>
        <%= t('removed') %>
        <strong><%= transaction.get('meta').name || transaction.get('meta').email %></strong>
        <%= t('from ' + {admin: 'Administrators','admincc':'Users','cc':'Clients'}[transaction.get('value')]) %>
    <% } %>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
</div>

<% } %>