<% if (workspaces.length) { %>
<select name="workspace" class="input-medium">
    <option value="" <%= !projects.getWorkspace() ? 'selected="selected"': '' %>><%= t('All') %></option>
    <% workspaces.each(function (workspace) { %>
    <option value="<%= workspace.id %>" <%= (projects.getWorkspace() == workspace.id) ? 'selected="selected"': '' %>><%= workspace.escape('name') %></option>
    <% }) %>
</select>
<ul class="nav nav-tabs nav-stacked projects">
    <% projects.each(function (project) { %>
    <li>
        <a data-id="<%= project.id %>" href="/project/<%= project.id %>">
            <i class="icon-chevron-right"></i>
            <%= project.escape("name") %>
        </a>
    </li>
    <% }) %>
</ul>
<div class="form-fixed">
    <a class="btn show-form"><i class="icon-plus"></i> <%= t('Add Project') %></a>
</div>
<% } %>
