<% if (task.id) { %>
<div id="task-header">
    <button type="button" class="close">&times;</button>
    <h2><%= task.escape('subject') %></h2>
    <ul id="task-comments"></ul>
</div>
<div class="form-fixed">
    <form id="form-transaction-add" class="form form-horizontal span5">
        <legend><%= t('New Comment') %>
            <button type="button" class="close close-form">&times;</button>
        </legend>
        <div class="control-group">
            <label class="control-label"><%= t('Content') %> * </label>

            <div class="controls">
                <textarea name="content"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><%= t('Files') %></label>

            <div class="controls">
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span><%= t('Add files') %>...</span>
                    <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
                </span>
                <div id="upload-progress"></div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary submit-form"><%= t('Create') %></button>
            </div>
        </div>
        <input type="hidden" name="task" value="<%= task.escape("id") %>">
    </form>
    <div>
        <a class="btn show-form"><i class="icon-plus"></i> <%= t('Add Comment') %></a>
    </div>
</div>
<% } %>
