<% if (transaction.get('subtype') == 'text') { %>
<div>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
    <%= t('by') %> <%= transaction.get('owner').name %>
</div>
<div><%= transaction.escape('content') %></div>
<% } else if (transaction.get('subtype') == 'file') { %>
<div>
    <%= moment(new Date(transaction.get('created'))).fromNow() %>
    <%= t('by') %> <%= transaction.get('owner').name %>
</div>
<div>
    <a data-bypass="true" href="<%= transaction.escape('url') %>" thumbnail_url="<%= transaction.escape('thumbnail_url') %>"><%= transaction.escape('filename') %></a>
</div>
<% } %>