doctype html
//if lt IE 7
  html.no-js.ie.ie6.lte7(lang='en')
//if IE 7
  html.no-js.ie.ie7.lte7(lang='en')
//if IE 8
  html.no-js.ie.ie8.lte8(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    title Weetrack
    meta(name="viewport", content="width=device-width, maximum-scale=1")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    - if (config.serveMerged)
      link(rel="stylesheet", href="/style.min.css?" + cssHash, type="text/css")
    - else
      - each style in config.styles
        link(rel="stylesheet", href="/" + style, type="text/css")
    - if (config.serveMerged)
      script
        (function(){var noop=function(){};var console={log:noop,error:noop}})()
      script(src="/script.min.js?" + jsHash)
    - else
      - each script in config.scripts
        script(src="/" + script)
  body
    block content
