doctype html
html(lang='en')
  head
    title Blade Tracker
    meta(name="viewport", content="width=device-width, maximum-scale=1")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    - if (env.NODE_ENV == 'production' || env.NODE_ENV == 'staging')
      link(rel="stylesheet", href="/dist/release/index.css")
    - else
      link(rel="stylesheet", href="/assets/css/index.css")
    script
      var hostname = "#{config.hostname}";
  body
    #main(role="main")
    - if (env.NODE_ENV == 'production' || env.NODE_ENV == 'staging')
      script(data-main="/app/config",src="/dist/release/require.js")
    - else
      script(data-main="/app/config",src="/assets/js/libs/require.js")
    #modal.modal.hide.fade
      .modal-header  
        button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
        h3 Error
      .modal-body
      .modal-footer
        a.btn(href="#",data-bypass="true",data-dismiss="modal") Close
    #confirm.modal.hide.fade
      .modal-header
        h3 Confirm
      .modal-body
      .modal-footer
        a.btn.yes(href="#",data-bypass="true") Yes
        a.btn.no(href="#",data-bypass="true") No
