<form class="offset2 span8 form-horizontal">
    <legend>Register</legend>
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" name="name" placeholder="First and Last Name">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="text" name="email" placeholder="Email">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" placeholder="Password">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Verify password</label>
        <div class="controls">
            <input type="password" name="verifyPassword" placeholder="Verify Password">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="workspace_name">Workspace</label>
        <div class="controls">
            <input type="text" name="workspace_name" placeholder="Workspace">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="workspace_subdomain">Subdomain</label>
        <div class="controls">
            <input type="text" name="workspace_subdomain" placeholder="Workspace Subdomain">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
</form>
