<% if (user.id) { %>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><%= user.escape("name")
    %><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/workspace"><%= t('Workspaces') %></a></li>
        <% if (workspace.id) { %>
        <li><a href="/project"><%= t('Projects') %></a></li>
        <% } %>
        <li><a href="/logout"><%= t('Logout') %></a></li>
    </ul>
</li>
<% } else { %>
<li><a href="/login"><%= t('Login') %></a></li>
<li><a href="/register"><%= t('Register') %></a></li>
<% } %>
