<form class="form-horizontal">
    <legend>
        <%= workspace.escape('name') || t('New Workspace') %>
        <button type="button" class="close close-form">&times;</button>
    </legend>
    <div class="control-group">
        <label class="control-label"><%= t('Name') %> * </label>

        <div class="controls">
            <input type="text" name="name" placeholder="<%= t('Workspace Name') %>"  value="<%= workspace.escape('name') %>">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Subdomain') %> * </label>

        <div class="controls">
            <input type="text" name="subdomain" placeholder="<%= t('Workspace Subdomain') %>" value="<%= workspace.escape('subdomain') %>"> .<%= domain %>
            <span class="help-inline error"></span>
        </div>
    </div>
    <legend><%= t('Users') %></legend>
    <div class="control-group">
        <label class="control-label"><%= t('Administrators') %></label>

        <div class="controls">
            <input type="text" class="input-xxlarge" name="admin">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Users') %></label>

        <div class="controls">
            <input type="text" class="input-xxlarge" name="admincc">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Clients') %></label>

        <div class="controls">
            <input type="text" class="input-xxlarge" name="cc">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="alert alert-success" style="display:none">
        <%= t('Workspace saved') %>
        <!-- <a class="close" data-dismiss="alert" href="#">&times;</a> -->
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary submit-form"><%= workspace.id ? t('Save Changes') : t('Create') %></button>
    </div>
</form>
