<form class="form-horizontal">
    <legend><%= t('Details') %></legend>
    <div class="control-group">
        <label class="control-label"><%= t('Name') %> * </label>
        <div class="controls">
            <input type="text" name="name" placeholder="<%= t('Workspace Name') %>" value="<%= workspace.escape('name') %>">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Subdomain') %> * </label>
        <div class="controls">
            <input type="text" name="subdomain" placeholder="<%= t('Workspace Subdomain') %>" value="<%= workspace.escape('name') %>"> .weetrack.com
            <span class="help-inline error"></span>
        </div>
    </div>
    <legend><%= t('Users') %></legend>
    <div class="control-group">
        <label class="control-label"><%= t('Administrators') %></label>
        <div class="controls">
            <input type="text" class="input-xxlarge" name="administrators">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Users') %></label>
        <div class="controls">
            <input type="text"  class="input-xxlarge" name="users">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('Clients') %></label>
        <div class="controls">
            <input type="text"  class="input-xxlarge" name="clients">
            <span class="help-inline error"></span>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary submit-form"><%= workspace._id ? t('Save') : t('Create') %></button>
    </div>
</form>
