<form class="form-horizontal">
    <legend>
        <%= t('Settings') %>
        <button type="button" class="close close-form">&times;</button>
    </legend>
    <div class="control-group">
        <label class="control-label"><%= t('Name') %></label>

        <div class="controls">
            <input disabled="disabled" type="text" name="name" class="input-xxlarge" value="<%= workspace.escape('name') %>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%= t('URL') %></label>

        <div class="controls">
            <input disabled="disabled" type="text" name="subdomain" class="input-xxlarge" value="http://<%= workspace.escape('subdomain') + '.' + domain %>">
        </div>
    </div>
</form>
