#content {
    margin-top: 60px;
}
/* left sidebar */
.projects, .projects-options {
}

.projects .icon-chevron-right {
    float: right;
}
/* / left sidebar */

#form-task-add .control-label {
    width: 60px;
}

#form-task-add .controls {
    margin-left: 80px;
}

#form-project-add input.span1 {
    width: 76px;
}

@media (max-width: 767px) {
    #form-project-add input.span1 {
        display: inline-block;
        width: inherit;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #form-project-add input.span1 {
        width: 40px;
    }
}
@media (min-width: 1200px) {
    #form-project-add input.span1 {
        width: 106px;
    }
}
