::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}


::-webkit-scrollbar-track-piece  {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: gray;
}

#content {
    padding-top: 60px;
}

#workspaces .icon-chevron-right,
#projects .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}