#content > .row {
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow: hidden;
    /* min-height: 460px; */
}

#upload-progress {
    clear: both;
}

#upload-progress .upload-item {
    position: relative;
    line-height: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid gray;
}

#upload-progress .upload-item .upload-progress {
    position: absolute;
    top: 0px;
    right: 16px;
    line-height: 20px;
    padding: 8px 0px;
}

#left-sidebar, #middle-sidebar, #right-sidebar {
    position: relative;
    height: 100%;
}

#projects, #tasks, #task-details {
    position: absolute;
    bottom: 48px;
    top: 0px;
    width: 100%;
    overflow: auto;
}

#projects .icon-chevron-right {
    float: right;
}

#projects form, #tasks form, #task-details form {
    display: none;
    margin: 0px;

}

#workspaces .form-fixed,
#projects .form-fixed,
#tasks .form-fixed,
#task-details .form-fixed {
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;

    background-color: white;
}

#form-project-add input.span1 {
    width: 106px;
}

#form-task-add textarea {
    height: 80px;
}

#tasks table {
    margin-bottom: 0px;
}

#tasks td.id {
    width: 60px;
}

#tasks td.subject span.subject {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span5 #tasks td.subject span.subject {
    max-width: 250px;
}

.span10 #tasks td.subject span.subject {
    max-width: 650px;
}

#tasks td.subject div.labels {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 20px;
}

#tasks .label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span5 #tasks .label {
    max-width: 100px;
}

.span10 #tasks .label {
    max-width: 200px;
}

#form-task-add .input-xxlarge {
   width: 430px;
}

#form-task-add .subject,
#form-task-add .owner{
    float: left;
    min-height: 1px;
    margin-left: 0px;
}

#form-task-add .subject {
    width: 240px;
}

#form-task-add .owner {
    width: 330px;
}

#form-task-add .control-label {
    width: 110px;
}

#form-task-add .controls {
    margin-left: 120px;
}

#form-task-add select[name=status] {
    width: 120px
}

#form-task-add input[name=owner],
#form-task-add #s2id_owner {
    width: 190px
}

#form-task-add textarea[name=subject] {
    font-size: 24px;
    font-weight: 600;
}


/*
#form-task-add .control-label {
    width: 60px;
}

#form-task-add .controls {
    margin-left: 80px;
}

@media (max-width: 767px) {
    #form-project-add input.span1 {
        display: inline-block;
        width: inherit;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #form-project-add input.span1 {
        width: 40px;
    }
}
@media (min-width: 1200px) {
    #form-project-add input.span1 {
        width: 106px;
    }
}
*/
