body {
    overflow: hidden;
}

#content > .row {
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow: hidden;
    width: 100%;
    /* min-height: 460px; */
}

#upload-progress {
    clear: both;
    padding-right: 10px;
}

.upload-item {
    height: 17px;
    line-height: 17px;
    padding: 8px 0px;
    border-bottom: 1px solid gray;
}

.upload-item span {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.tooltip {
    z-index: 9999;
}

#sidebar-container {
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}

#left-sidebar, #right-sidebar {
    height: 100%;
}

#tasks, #task-details {
    height: 100%;
    position: relative;
}

#task-details h2 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    white-space: nowrap;
    margin: 0px;
}

#transactions {
    position: absolute;
    top: 50px;
    bottom: 70px;
    width: 100%;
    overflow: auto;
}

#projects .icon-chevron-right {
    float: right;
}

#workspaces .form-fixed,
#projects .form-fixed,
#tasks .form-fixed,
#task-details .form-fixed {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    box-sizing: content-box;
}

#form-project-add input.span1 {
    width: 106px;
}

#form-task-add textarea {
    height: 80px;
}

#tasks table {
    margin-bottom: 0px;
}

#tasks td.id {
    width: 60px;
}

#tasks td.subject span.subject {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span5 #tasks td.subject span.subject {
    max-width: 250px;
}

.span10 #tasks td.subject span.subject {
    max-width: 650px;
}

#tasks td.subject div.labels {
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 20px;
}

#tasks .label {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span5 #tasks .label {
    max-width: 100px;
}

.span10 #tasks .label {
    max-width: 200px;
}

#form-task-add-wrapper {
    height: 100%;
}

#form-task-add {
    position: relative;
    height: 100%;
}

#form-task-add .input-xxlarge,
#form-transaction-add .input-xxlarge
{
    height: 100%;
    width: 410px;
}

#form-task-add .scrollable {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 52px;
    bottom: 52px;
    overflow: auto;
}

#form-task-add .submit-group {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
}

#form-task-add .status,
#form-task-add .owner,
#form-transaction-add .type,
#form-transaction-add .status,
#form-transaction-add .priority,
#form-transaction-add .owner
{
    float: left;
    min-height: 1px;
    margin-left: 0px;
}

#form-task-add .status,
#form-transaction-add .type,
#form-transaction-add .priority {
    width: 220px;
}

#form-task-add .owner,
#form-transaction-add .status,
#form-transaction-add .owner {
    width: 320px;
}

#form-task-add .control-label,
#form-transaction-add .control-label {
    width: 110px;
}


#form-task-add .controls,
#form-transaction-add .controls {
    margin-left: 120px;
}

#form-task-add select[name=status],
#form-transaction-add select[name=status],
#form-transaction-add select[name=type] {
    width: 110px
}

#form-task-add input[name=owner],
#form-task-add #s2id_owner,
#form-transaction-add input[name=owner],
#form-transaction-add #s2id_owner {
    width: 200px
}

#form-task-add textarea[name=subject] {
    font-size: 24px;
    font-weight: 600;
}

.edit, .cancel {
    margin-right: 6px;
}

#tasks .tasks {
    position: absolute;
    top: 0px;
    bottom: 42px;
    width: 100%;
    overflow: auto;
}

#tasks .tasks .selected {
    background-color: #eeeeee;
    z-index: 2;
    border-color: #ddd;
}

